#slider_password::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: oklch(0.496 0.265 301.924);
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}